<% content_for :title, "學生點擊狀況紀錄" %>

<% content_for :script do %>
  <script src="/global_assets/js/demo_pages/datatables_extension_buttons_print.js"></script>
  <script src="/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
  <script src="/global_assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
  <script src="/global_assets/js/plugins/tables/datatables/extensions/select.min.js"></script>
<% end %>

<div class="row">
  <div class="card col-lg">
    <div class="card-header header-elements-inline">
      <h5 class="card-title">學生點擊狀況紀錄</h5>
      <div class="header-elements">
        <div class="list-icons">
          <a class="list-icons-item" data-action="collapse"></a>
          <a class="list-icons-item" data-action="reload"></a>
          <a class="list-icons-item" data-action="remove"></a>
        </div>
      </div>
    </div>

    <table class="table datatable-button-print-rows" style="font-size:16px">
      <thead>
        <tr>
          <td>Name</td>
          <% @courses.each_with_index do |courses| %>
          <td><%= courses.name %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @array2.each  do |ary2| %>
        <tr>
          <% while @i < ary2.count %>
            <td><%= ary2[@i] %></td>
            <% @i += 1 %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
