<div class="mb-4">
  <ul id="myTab" role="tablist" class="nav justify-content-center nav-tabs nav-pills text-center border-0 rounded-nav">
    <% @courses.each_with_index do |c, index| %>
      <%= link_to flash_path(c) do %>
        <button type="button" class="btn btn-outline-primary btn-lg" style="margin: 5px"><%= c.name %></button>
        <% end  %>
    <% end %>
  </ul>
</div>

